<mz-navbar navbarClass="container">
  <a href="#" class="brand-logo">Tickets</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="/">Home</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">

  <div class="row">
    <div class="col s12 m4">
      <aside class="sidebar">

          <div class="filter-item">
            <h4>Валюта</h4>
            <mz-select-container>
                <select mz-select
                  id="options-select"
                >
                
                    <option >RUB</option>
                    <option >USD</option>
                    <option >EUR</option>
                  
                </select>
              </mz-select-container>
          </div>

          <div class="filter-item">
            <h4>Количество пересадок</h4>
            <div class="checkboxes">
                <mz-checkbox-container>
                    <input mz-checkbox
                      [label]="'Без пересадок'"
                      id="filter_checkbpx1"
                      type="checkbox">
                </mz-checkbox-container>
                <mz-checkbox-container>
                    <input mz-checkbox
                      [label]="'1 пересадка'"
                      id="filter_checkbpx2"
                      type="checkbox">
                </mz-checkbox-container>
                <mz-checkbox-container>
                    <input mz-checkbox
                      [label]="'2 пересадки'"
                      id="filter_checkbpx3"
                      type="checkbox">
                </mz-checkbox-container>
                <mz-checkbox-container>
                    <input mz-checkbox
                      [label]="'3 пересадки'"
                      id="filter_checkbpx4"
                      type="checkbox">
                </mz-checkbox-container>
            </div>
          </div>
      </aside>
    </div>
    <div class="col s12 m8">
      <router-outlet></router-outlet>
    </div>
  </div>
        
</div>
